OPENAI_API_KEY=sk-proj-1234567890   
PERPLEXITY_API_KEY=sk-proj-1234567890
TAVILY_API_KEY=<YOUR_TAVILY_API_KEY>
NEWAPIORG_API_KEY=<YOUR_NEWSAPI_API_KEY>
FIRECRAWL_API_KEY=<YOUR_FIRECRAWL_API_KEY>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://aws.api.smith.langchain.com
LANGSMITH_API_KEY=<YOUR_LANGSMITH_API_KEY>
LANGSMITH_PROJECT=prospectlens